<mat-card class="mat-elevation-z4">
  <img class="card-image" mat-card-image [src]="article.urlToImage" />
  <mat-card-title>
    <p class="line-clamp-title">{{ article.title }}</p>
  </mat-card-title>
  <mat-card-content>
    <p class="line-clamp">{{ article.content }}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button aria-label="Read more.." (click)="readMore()">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <p>Published at {{article.publishedAt | date:'medium'}}</p>
  </mat-card-footer>
</mat-card>
