<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1> News Reader </h1>
</mat-toolbar>
<mat-drawer-container class="container">
  <mat-drawer #drawer hasBackdrop="false" mode="over" closed (mouseleave)="drawer.close()">
    <app-nav-list></app-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content" fxLayout="row wrap" fxLayoutGap="8px grid" fxLayoutAlign="space-around stretch">
      <div class="card" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lg="25%" fxFlex.gt-lg="20%"
        *ngFor="let article of articles$ | async; let i = index">
        <app-article [article]="article" [index]="i"></app-article>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
