<mat-nav-list>
  <mat-list-item [routerLink]="['/main']" class="parent">
    <span class="full-width">Home</span>
    <mat-icon mat-list-icon>home</mat-icon>
  </mat-list-item>
  <h2 matSubheader>Categories</h2>
  <mat-list-item *ngFor="let cat of categories" [routerLink]="['/main',{category: cat}]">
    <h4 matLine>{{cat}}</h4>
  </mat-list-item>
  <h2 matSubheader>Countries</h2>
  <mat-list-item *ngFor="let code of countries" [routerLink]="['/main',{country: code.code}]">
    <h4 matLine>{{code.name}}</h4>
  </mat-list-item>
</mat-nav-list>
